#root {
    margin: 0px;
    padding: 0px;
}

.product-panel {
    margin: 5px 0px;
    padding: 0px;
}

.product-panel .panel-heading {
    margin: 0px;
    padding: 5px 10px;
}

.product-panel .panel-body {
    margin: 0px;
    padding: 0px;
}
